{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2022
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["import", "jsx-a11y"],
  "extends": ["plugin:prettier/recommended", "plugin:react/recommended"],
  "rules": {
    "no-console": 2,
    "import/no-unresolved": 0,
    "react/display-name": 0,
    "react/prop-types": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
